
body
{
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size-adjust: none;
	font-stretch: normal;
	margin: 0% 0% 0% 0%;
	background-color: #9B9B9B;
}

header.banner
{ 
	background: linear-gradient(#000033, darkblue); 
	overflow: auto;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

header.banner > section.logo
{  
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: white;
	font-size: xx-large;
	height: 60px;
	padding-top: 60px;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	text-align: center;
}

nav li
{
	display: inline;
}

nav li a
{
    display: inline-block;
    color: white;
    text-align: center;
	font-size: xx-large;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover
{
    background-color: darkblue;
}

textarea
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 90%;
	height: 500px;
}

.header
{
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	padding: 1%;
	margin: 0% 0% 0% 0%;
	background-color: #002982;
	width: 100%;
}

.fileForm
{
	padding: 1% 0% 1% 0%;
	margin: 1% 0% 1% 0%;
	text-align: center;
	width: 100%;
	background-color: black;
}

.fileTextbox
{
	min-width: 400px;
}

.checkbox
{
	font-size: 20px;
}

.content
{
	margin-left: 2%; 
	margin-right: 2%; 
	width: 96%;
	border: 2px solid darkblue; 
	border-radius: 16px;
	background-color: #E3E3E3;
	overflow-x: hidden;
	min-width: 1000px;
	text-align: center;
}

.table
{
	margin-top: 2%;
	margin-left: 7%; 
	margin-right: 2%; 
	float: left;
	min-width: 500px;
	width:45%
}

.info
{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 0%;
	margin-right: 7%;
	width: 45%;
	min-width: 350px;
	border: 2px solid darkblue; 
	border-radius: 16px;
	background-color: #AAAAFF;
	float: right;
	font-size: 25;
}

.toggles
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 4%;
	padding-bottom: 2%;
	width: 95%;
	text-align: center;
}